* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html{
  font-size: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  text-align: center;
}

.container{
  background: black;
  width: 80%;
  height: 100vh;
  margin: 20px auto;
  padding: 20px;
}

.formulario{
  width:60%;
  margin: 0  auto;
  background: yellow;
  padding: 5px;
  border-radius: 5px;
}

.tituloFormulario{

}

.data{
  display: flex;
  justify-content:center;
  align-items: center;
}

.txtNombre{
  width: 70%;
  height: 100%;
  margin-right: 5px;

}

.btnRegistrar{
  border: 1px solid black;
  width: fit-content;
  display: grid;
  place-items: center;
  padding: 1px 4px;
  font-size: 1rem;
  border-radius: 20px;
  margin-bottom: 5px;
}

.resultados{
  background:green;
  height: 20px;
}
